*{margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.nav-bar{
    overflow: hidden;
    background-color: #333;
    height: 100px;
    padding-top: 20px;
  }
  
.navbar, a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: none;
  }
  
.navbar, a:hover {
    background-color: #ddd;
    color: black;
  }
  
.navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .navbar, button{
      float: right;
  }

.row{
    box-sizing: border-box;
    display: flex;
    height: 800px;
    width: 800px;
    margin:0px
  }


/* create 7 equal columns that sit next to each other */

.column{
    flex:14.28%
}

table,td,th{
    padding: 5px;
    border: 2px solid black;
    border-collapse: collapse;
  }
  table{
    width: 800px;
    height: 400px;
  }
  th{
    background-color:white;
    color: white;
  }

  .img{
      float:left;
  }

  .form{
      float:right;
      display: block;
  }

.img+form {
    text-align : center;
}
.image, .form {
    display: inline-block;
    vertical-align: top;
}

.row3{
    box-sizing: border-box
}

.column{
    flex:25%;
}